.jumbotron {
    background-color: aqua;
    text-align: center;
}

p {
    text-align: center;
    font-weight: bolder;
    color: white;
}

.instructions {
    background-color: #0D7FFF;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    opacity: 0.5;
    border-radius: 25px;
}

.col {
    background-color: grey;
    text-align: center;
    border: 100px aliceblue; 
    padding: 50px;
}

.display-4 {
    font-weight: bold;
}

img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
}
div.col {
    background-color: white;
    border: 200px;
    border-color: black;
}

div.score-card {
    background-color: #0CAEE8;
    z-index: 1;
}

span {
    background-color: #0D7FFF;

}

.squares {
    background-color: #0D7FFF;
    border: 200px;
    border-color: black;
}